/* header */

.logo {
    font-size: 3.1rem;
    color: rgb(255, 255, 255);
}

.primary-navigation {
    display: flex;
    list-style: none;
    gap: 10px;
    white-space: nowrap;
}

header {   
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: rgb(126, 16, 56);
    border: 5px outset rgb(144, 32, 32)
}

/* text */

.text {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    padding: 2rem;
}

img {
    display: block;
    width: 40%;
    height: 40%;
}

p {
    font-size: large;
}

button:hover {
    padding: 7px;
}

/* Links */

a {
    color:rgb(255, 255, 255);  
    text-decoration: none;
}

a:hover {
    color:rgb(241, 249, 0);
    text-decoration: none;
    font-size: 1.25rem;
}

a:active {
    color: rgb(0, 0, 0)
}
